.button {
    position: relative;
    z-index: 1;
    display: flex;
    width: 330px;
    background-color: var(--layer-primary);
    color: var(--text-primary);
    border: none;
    padding: 15px 17px 15px 17px;
    border-radius: 13px;
    font-family: inter-variable, sans-serif;
    font-variation-settings: "wght" 700;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--layer-secondary);
}

.unauth-landing .button {
    background-color: #1c1c1c7f !important;
    color: #e8e8e8cc !important;
    box-shadow:
        0 4px 4px 0 rgba(0, 0, 0, 0.25),
        0 0 1px 0 rgba(255, 255, 255, 0.25) inset,
        0 1px 3px 0 rgba(182, 182, 126, 0.1) inset;
}

.unauth-landing .button:hover {
    background-color: #30303066 !important;
}

.unauth-landing .button svg {
    fill: #e8e8e8cc !important;
}
