@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Roboto Condensed", sans-serif;
}

html {
	font-size: 16px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2.2rem;
	font-weight: 500;
}

h4 {
	font-size: 1.8rem;
	font-weight: 500;
}

h5 {
	font-size: 1.4rem;
	font-weight: 500;
}

h6 {
	font-size: 1rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
}

@media (max-width: 1024px) {
	.desktop-only {
		display: none;
	}
}