/* orgTransitions.css */
.fadeup-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fadeup-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.fadeup-exit {
    opacity: 1;
    transform: translateY(0);
}

.fadeup-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-out, transform 150ms ease-out;
}